{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container d-flex h-100 row">

		<div class="col-md-6 align-self-center p-5 text-white">

			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<h2 class="mb-3 fw-bold">Welcome Back !</h2>
				<div class="form-group mb-3">
					<label for="input-phoneNumber">Phone Number</label>
					<input type="text" value="{{ last_username }}" name="phoneNumber" id="input-phoneNumber" class="form-control" placeholder="0643XXXXXX" autocomplete="username" required autofocus>
				</div>
				<div class="form-group mb-3">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="my great password" required>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="text-center">
					<button class="btn btn-lg btn-secondary " type="submit">
						Sign in
					</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
