{% extends 'base.html.twig' %}

{% block title %}Find A Groomer
{% endblock %}

{% block body %}
	<style>
		body {
			padding-bottom: 0;
		}
	</style>
	<main>
		<header>
			<div class="container">
				<div class="text-center presentation-div text-light ">
					<h1 class="text-uppercase">
						Find A Groomer</h1>
					<h4>
						<i>
							Everything for the well-being of your animals</i>
					</h4>

				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="card bg-light mb-3 mt-5">
							<div class="card-header">
								<h2 class="text-info font-weight-bold">
									Professionnal ?
								</h2>
							</div>
							<div class="card-body">
								<h4 class="card-title">Join Us and be findable : it's free !</h4>
								<p class="mt-2 text-center border-top pt-3">
									<a href="{{path('app_login')}}" class="btn btn-success">
										Log In</a>
									or
									<a href="{{path('groomers_register')}}" class="btn btn-primary">
										Register Now</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card bg-light mb-3 mt-5">
							<div class="card-header">
								<h2 class="text-info font-weight-bold">
									Customers ?
								</h2>
							</div>
							<div class="card-body">
								<h4 class="card-title">Enter Your City or Postal Code and find local Groomer !</h4>
								<form class="card-text" action="{{path('customer_search_groomer')}}" method="post">
									<div class="input-group mb-3">
										<input type="text" id="input-search-local" name="localisation-input" class="form-control form-control-lg" placeholder="city or postal code ..." aria-label="city name or postal code" aria-describedby="button-addon2">
										<button class="btn btn-success btn-lg" type="submit" id="button-addon2">Search</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>


			</div>
		</header>

	</main>
{% endblock %}
