{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}


	<div class="container d-flex h-100 row">
		<div class="col-md-6 align-self-center p-5 text-white">
			<h1>Register</h1>
			{{ form_start(registrationForm) }}

			<div class="mb-3  ">
				{{ form_label(registrationForm.sex) }}
				{{ form_widget(registrationForm.sex) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(registrationForm.sex) }}
					</i>
				</div>
			</div>
			<div class="mb-3">
				{{ form_label(registrationForm.firstname) }}
				{{ form_widget(registrationForm.firstname) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(registrationForm.firstname) }}
					</i>
				</div>
			</div>
			<div class="mb-3">
				{{ form_label(registrationForm.lastname) }}
				{{ form_widget(registrationForm.lastname) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(registrationForm.lastname) }}
					</i>
				</div>
			</div>
			<div class="mb-3">
				{{ form_label(registrationForm.phoneNumber) }}
				{{ form_widget(registrationForm.phoneNumber) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(registrationForm.phoneNumber) }}
					</i>
				</div>
			</div>
			<div class="mb-3">
				{{ form_label(registrationForm.email) }}
				{{ form_widget(registrationForm.email) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(registrationForm.email) }}
					</i>
				</div>
			</div>
			<div class="mb-3">
				{{ form_label(registrationForm.plainPassword) }}
				{{ form_widget(registrationForm.plainPassword) }}
				<div class="text-light bg-danger  rounded">
					<i>
						{{ form_errors(registrationForm.plainPassword) }}
					</i>
				</div>
			</div>
			<div class="mb-3">
				{{ form_widget(registrationForm.agreeTerms) }}
				{{ form_label(registrationForm.agreeTerms) }}
				<div class="text-light bg-danger  rounded">
					{{ form_errors(registrationForm.agreeTerms) }}
				</div>
			</div>

			<div class="text-center">
				<button class="btn btn-lg btn-secondary " type="submit">
					Register Me
				</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
