<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			{% set salon = renderSalonInformation(idSalon,idGroomer) %}

			<h1 class="display-4 fw-bolder">{{salon.name}}</h1>
			<p class="lead fw-normal text-white-50 mb-0">Make YOur Shopping Easier For Your Lovely Pets</p>
		</div>
	</div>
</header>
