<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container px-4 px-lg-5">
		{% set salon = renderSalonInformation(idSalon,idGroomer) %}

		<a class="navbar-brand" href="{{path('eshop_homepage', {idSalon: idSalon, idGroomer:idGroomer})}}">{{salon.name}}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Modal -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li
					class="nav-item">
					<!-- Button trigger modal -->
					<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#backWebsite">
						Going Back To Information Website
					</a>

					<!-- Modal -->
					<div class="modal fade" id="backWebsite" tabindex="-1" aria-labelledby="backWebsiteLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Back To Website</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									Are you sur you want go back to website of
									{{salon.name}}
									?
								</div>
								<div class="modal-footer">
									<a href="{{path('customers_watch_website', {idSalon: idSalon, idGroomer: idGroomer})}}" class="btn btn-success">Yes, Go Back</a>
									<a type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary">No, continue Shopping</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('eshop_aboutpage', {idSalon: idSalon, idGroomer:idGroomer})}}">About</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Catégories</a>
					<div class="dropdown-menu">
						{% for c in categoryNavbar() %}
							<a class="dropdown-item" href="{{path('category_details', {idSalon: salon.id, idGroomer: salon.userGroomer.id, idCategory: c.id})}}">{{c.name}}</a>
						{% endfor %}
					</div>
				</li>
			</ul>
			<form class="d-flex">
				<a href="{{path('cart_show', {idSalon: salon.id, idGroomer: salon.userGroomer.id})}}" class="btn btn-outline-dark" type="submit">
					<i class="bi-cart-fill me-1"></i>
					Cart
					<span class="badge bg-dark text-white ms-1 rounded-pill">{{cartService.totalQuantityOfAllProducts}}
						Product</span>
				</a>
			</form>
			{% if app.user %}
				<li class="nav-item">
					<a href="#" class="nav-link ">Mes Commandes</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_logout')}}" class="nav-link btn btn-danger">Deconnexion</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{path('customers_register')}}" class="nav-link">Inscription</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_login') }}" class="nav-link btn btn-success">Connexion</a>
				</li>
			{% endif %}
		</div>
	</div>
</nav>
