{% extends "customers/eshop/base_eshop.html.twig" %}

{% block title %}
	Page de
	{{category.name}}
{% endblock %}


{% block body %}
	<div class="container my-5">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{path('eshop_homepage', {idSalon: idSalon, idGroomer: idGroomer})}}">Accueil</a>
			</li>
			<li class="breadcrumb-item active">{{category.name}}</li>
		</ol>
		<h1>{{category.name}}
		</h1>
		<div>
			{{category.description}}
		</div>
		<div class="row ">
			{% for p in products %}
				<div class="col-md-3 mb-5">
					{% include "customers/eshop/product/_product_card.html.twig" %}
				</div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
