:root {
	--main-bg-color: {{	colors.mainBg}};

	--bg-secondary-color: {{colors.secondBg}};

	--main-text-color: {{colors.mainText}};

	--primary-color: {{colors.primary}};

	--secondary-color: {{colors.secondary}};
}

#prestations {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#prestations h2 {
    padding-top: 25px;
    margin-bottom: 2vh;
}

#carousel-prestations {
    perspective: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel-prestations>* {
    flex: 0 0 auto;
}

#carousel-prestations figure {
    margin: 0;
    width: 600px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% -482.8427124746px;
}

#carousel-prestations figure p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px var(--bg-secondary-color);
}

#carousel-prestations figure p img {
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    opacity: 0.97;
}

#carousel-prestations figure p:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 50% -482.8427124746px;
}

#carousel-prestations nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#carousel-prestations nav button {
    flex: 0 0 auto;
    margin: 0 15px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--secondary-color);
    background: transparent;
    border: 2px solid var(--secondary-color);
    letter-spacing: 1px;
    padding: 5px 10px;
    height: 40px;
}

#carousel-prestations nav button:hover {
    cursor: pointer;
    color: var(--main-text-color);
    font-size: 17px;
    border: 4px solid var(--main-text-color);
    height: 44px;
}

#carousel-prestations nav button:focus {
    outline: none;
    color: var(--main-text-color);
    font-size: 17px;
    border: 4px solid var(--main-text-color);
    height: 44px;
}