{% extends "base.html.twig" %}


{% block title %}
	Find a groomer
{% endblock %}
{% block body %}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	{% endblock %}
	<div id="map"></div>
	<div class="d-none" id="groomings-array" data-grooming="{{groomings|json_encode}}"></div>

	{% block javascripts %}
		{{ encore_entry_script_tags('map') }}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
{% endblock %}
