<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="Salon de toilettage à {{salon.city}} {{salon.postalCode}}. Toilettage canin et félin. Ventes d'accessoires pour animaux. Produits naturels ..."/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<noscript>
			Your browser does not support JavaScript!
		</noscript>
		<!--Choix de la police-->
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"/>
		<link rel="shortcut icon" href="/images/websites_img/{{website.logo}}"/>
		<style>
			{% include "customers/style.css.twig" %}
			{% include "customers/carousel.css.twig" %}
		</style>
		<title>{{salon.name}}
			| Toilettage
			{{salon.city}}</title>
	</head>

	<body>

		<header>
			<div>
				<img src="/images/websites_img/{{website.logo}}" alt="Logo Toilettage"/>
			</div>
			<div>
				<h3>
					{{salon.name}}
				</h3>
			</div>
			<div>
				<img src="/images/logo-blue.png" alt="chien et chat"/>
			</div>
		</header>

		<nav class="navigation">
			<ul>
				<li><a href="#presentation" class="active">Présentation</a></li>
				<li><a href="#prestations">Prestations</a></li>
				<li><a href="#produits">Produits</a></li>
				<li><a href="#info-generales">Informations</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#galerie">Galerie</a></li>
			</ul>
		</nav>

		<div id="nav-mobile" class="navigation">
			<button id="menu-btn">
				<i class="fas fa-paw"></i>
			</button>

			<div id="menu-mobile-link">
				<ul>
					<li><a href="#presentation" class="active">Présentation</a></li>
					<li><a href="#prestations">Prestations</a></li>
					<li><a href="#produits">Produits</a></li>
					<li><a href="#info-generales">Informations</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="#galerie">Galerie</a></li>
				</ul>
			</div>
		</div>

		<section class="scrollspy" id="presentation">
			<div>
				<img src="/images/websites_img/{{website.profilPicture}}" alt="{% if groomer.sex == "femme" %} Toiletteuse Professionnelle {% else %} Toiletteur Professionnel {% endif %} . {{groomer.firstname}} {{groomer.lastname}}"/>
			</div>
			<div class="presentation-text">
				<h2>Présentation</h2>
				<h4>{{groomer.firstname}}
					{{groomer.lastname}},
					{% if groomer.sex == "femme" %}
						Toiletteuse Professionnelle
					{% else %}
						Toiletteur Professionnel
					{% endif %}
					.
				</h4>
				<p class="mel-text">
					{{website.textPresentation}}
					<br>
					Voici le salon
					<span class="primary-color">
						{{salon.name}}</span>
				</p>
			</div>
		</section>

		<section class="scrollspy" id="prestations">
			<h2>Prestations</h2>

			<div id="carousel-prestations">
				{% if salon.servicesCategories is not empty %}
					<figure id="figure">
						{% for sc in salon.servicesCategories %}
							<p>
								{{sc.name}}
								<img src="{{sc.picture}}" alt="{{sc.name}} chien ou chat"/>
							</p>
						{% endfor %}

					</figure>
					<nav>
						<button class="nav prev">Précédent</button>
						<button class="nav next">Suivant</button>
					</nav>
				{% else %}
					<h3>Il n'y a pas encore de services définis pour ce salon.</h3>

				{% endif %}
			</div>
		</section>

		<section class="scrollspy" id="produits">
			<h2>Produits</h2>

			<!--| Click n Collect -->
			<div class="presentations-produits">
				{% set productsDefined = false %}
				{% for c in categories %}
					{% if c.products|length >0 %}
						{% set productsDefined = true %}
					{% endif %}
				{% endfor %}

				{% if productsDefined %}
					{% set nbrCat = categories|length %}
					<div class="onglets-button">

						<button id="{{categories[0].name}}-btn" class="active">
							{{categories[0].name }}
						</button>

						{% for i in 1 .. nbrCat %}
							{% if categories[i] is defined %}
								<button id="{{categories[i].name }}-btn">
									{{categories[i].name }}
								</button>
							{% endif %}
						{% endfor %}
					</div>
					{% if categories[0].products|length > 0  %}
						<div id="{{categories[0].name}}" class="onglets-produits">
							{% for p in categories[0].products %}
								<div class="produits">
									<img src="/images/products-img/{{p.urlPicture}}" alt="{{p.name}}">
									<p>
										{{p.name}}
									</p>
								</div>
							{% endfor %}
						</div>
					{% endif %}
					{% if categories[0] is defined %}
						<div id="{{categories[0].name}}" class="onglets-produits">
							<h3>Il n'y a pas encore de produits définis pour cette catégorie dans ce salon.</h3>
						</div>
					{% endif %}
					{% for i in 1 .. nbrCat %}
						{% if categories[i] is defined and categories[i].products|length > 0 %}
							<div id="{{categories[i].name}}" class="onglets-produits hide">
								{% for p in categories[i].products %}
									<div class="produits">
										<img src="/images/products-img/{{p.urlPicture}}" alt="{{p.name}}">
										<p>
											{{p.name}}
										</p>
									</div>
								{% endfor %}
							</div>
						{% endif %}
						{% if categories[i] is defined %}
							<div id="{{categories[i].name}}" class="onglets-produits hide">
								<h3>Il n'y a pas encore de produits définis pour cette catégorie dans ce salon.</h3>
							</div>
						{% endif %}
					{% endfor %}


				{% else %}
					<h3>Il n'y a pas encore de produits définis pour ce salon.</h3>
				{% endif %}
			</div>
			<div style="text-align:center;">
				<a href="{{path('eshop_homepage', {idSalon: salon.id, idGroomer:groomer.id } )}}" class="button-form">
					>>> Voir le Shop en Ligne >>></a>
			</div>
		</section>

		<section class="scrollspy" id="info-generales">
			<h2>Informations Utiles</h2>
			<div class="info">
				<div id="horaires">
					<h3>Horaires</h3>
					<ul>
						{% for d, h in salon.hourly %}
							<li>
								<span class="primary-color">
									{{d|capitalize}}
								</span>
								{{h}}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div id="info-contact" class="borderLR">
					<h3>Me Contacter</h3>
					<ul>
						<li>
							<i class="fas fa-phone-alt"></i>
							<a href="tel:{{salon.phoneNumber}}">
								{{salon.phoneNumber}}
							</a>
						</li>
						<li>
							<i class="fas fa-envelope"></i>
							<a href="#contact">Via le Formulaire
							</a>
						</li>
						<li>
							<i class="fas fa-map-marker-alt"></i>
							<a href="https://www.google.com/maps/place/{{mapResearch}} " target="_blank">
								{{salon.addressLine1}}
								{% if salon.addressLine1 is defined %}
									{{ salon.addressLine2}}
								{% endif %}
								{{salon.postalCode}}
								{{salon.city}}
							</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>Plan d'accès</h3>
					<iframe width="90%" height="70%" style="border: 0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAcabeUrt7sEd_4cfh-4MZ43_AGCFO9lPg&q={{mapResearch}}"></iframe>
				</div>
			</div>
		</section>
		<section class="scrollspy" id="contact">
			<h2>Contact</h2>
			<div class="form-contact">
				<form id="contact-form" method="POST" action="{{path('customers_watch_website_send_mail', {idSalon: salon.id, idGroomer: groomer.id})}}" enctype="multipart/form-data">
					<div class="input-form">
						<input type="text" name="form[firstname]" id="firstname" placeholder=" " {% if email.firstname is defined %} value={{email.firstname}} {% endif %}/>
						<label for="firstname">
							Prénom :
						</label>
					</div>
					<p class="comments">
						{% if errors.firstname is defined %}
							{{errors.firstname}}
						{% endif %}
					</p>

					<div class="input-form">
						<input type="text" name="form[name]" id="name" placeholder=" " {% if email.name is defined %} value={{email.name}} {% endif %}/>
						<label for="name">
							Nom :
						</label>
					</div>
					<p class="comments">
						{% if errors.name is defined %}
							{{errors.name}}
						{% endif %}
					</p>

					<div class="input-form">
						<input type="email" name="form[email]" id="email" placeholder=" " {% if email.email is defined %} value={{email.email}} {% endif %}/>
						<label for="email">
							Email :
						</label>
					</div>
					<p class="comments">
						{% if errors.email is defined %}
							{{errors.email}}
						{% endif %}
					</p>

					<div class="input-form">
						<input type="tel" name="form[phone]" id="phone" placeholder=" " {% if email.phone is defined %} value={{email.phone}} {% endif %}/>
						<label for="phone">
							Téléphone :
						</label>
					</div>
					<p class="comments">
						{% if errors.phone is defined %}
							{{errors.phone}}
						{% endif %}
					</p>

					<div class="select-form">
						<select id="choice" name="form[choice]">
							<option>Demander un renseignement</option>
							<option>Etablir un devis</option>
							<option>Laisser un avis</option>
							<option>Autres</option>
						</select>
						<label for="choice">Sélectionnez la raison du message*</label>
					</div>

					<div class="input-form">
						<textarea id="message" name="form[message]" placeholder=" " rows="4">
							{% if email.message is defined %}
								{{email.message}}
							{% endif %}
						</textarea>
						<label id="message-form" for="message">
							Votre Message
						</label>
					</div>
					<p class="comments">
						{% if errors.message is defined %}
							{{errors.message}}
						{% endif %}
					</p>

					<div class="submit-form">
						<button class="button-form" type="submit">
							Envoyer
						</button>
					</div>
					<p class="thank-you">
						{% if successOrNot is defined %}
							{{successOrNot}}
						{% endif %}
					</p>
				</form>
			</div>
		</section>

		<section class="scrollspy" id="galerie">
			<h2>Galerie Photo</h2>

			{% if showroom  %}
				<div class="flex-photo">
					{% set nbrPictures =  groomer.showroom.picturesShowroom|length %}
					{% set pictures = groomer.showroom.picturesShowroom %}
					<div class="galerie-box active">
						{% for i in 0..3 %}
							{% if pictures[i] is defined %}
								<div class="card-photo">
									<img src="/images/showroom-pictures/{{pictures[i].urlPicture}}" alt="{{pictures[i].description}}">
									<p>
										{{pictures[i].description}}
									</p>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					{% if nbrPictures > 4 %}
						<div class="galerie-box">
							{% for i in 4..7 %}
								{% if nbrPictures > i %}
									{% if pictures[i] is defined %}

										<div class="card-photo">
											<img src="/images/showroom-pictures/{{pictures[i].urlPicture}}" alt="{{pictures[i].description}}">
											<p>
												{{pictures[i].description}}
											</p>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}

					{% if nbrPictures > 8 %}
						<div class="galerie-box">
							{% for i in 8..11 %}
								{% if nbrPictures > i %}
									{% if pictures[i] is defined %}

										<div class="card-photo">
											<img src="/images/showroom-pictures/{{pictures[i].urlPicture}}" alt="{{pictures[i].description}}">
											<p>
												{{pictures[i].description}}
											</p>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}


					<div class="btn-controls">
						<button id="prev" class="btn-prev">
							<i class="fas fa-chevron-left"></i>
						</button>
						<button id="next" class="btn-next">
							<i class="fas fa-chevron-right"></i>
						</button>
					</div>
				</div>
			{% else %}
				<h3>Il n'y a pas encore de galerie photo pour ce salon.</h3>
			{% endif %}
		</section>

		<footer>
			<div id="footer-information">
				<div>
					<h3>Me Contacter</h3>
					<ul>
						<li>
							<i class="fas fa-phone-alt"></i>
							<a href="tel:{{salon.phoneNumber}}">{{salon.phoneNumber}}</a>
						</li>
						<li>
							<i class="fas fa-envelope"></i>
							<a href="#contact">Via le Formulaire</a>
						</li>
						<li>
							<i class="fas fa-map-marker-alt"></i>
							<a href="https://www.google.com/maps/place/{{mapResearch}} " target="_blank">{{salon.addressLine1}}
								{% if salon.addressLine1 is defined %}
									{{ salon.addressLine2}}
								{% endif %}
								{{salon.postalCode}}{{salon.city}}</a>
						</li>
					</div>
				</ul>
				<div class="borderLR">
					<h3>Suivez-Moi</h3>
					<a href="{{website.linkFacebook}}" target="_blank">
						<i class="fab fa-facebook fa-2x"></i><br/>Sur Facebook</a><hr style="width: 70%"/><li>Salon de Toilettage</li>
					<ul>
						<li>
							{% if groomer.sex == "femme" %}Toiletteuse{% else %}Toiletteur
							{% endif %}
							à
							{{salon.city}}</li>
						<li>Soins pour Chats et Chiens</li>
					</ul>
				</div>
				<div>
					<iframe src="https://www.facebook.com/plugins/page.php?href={{website.linkFacebook}}&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="500" style="border: none; overflow: hidden;" allowfullscreen="true" target="_top" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
				</div>
			</div>
			<div id="createByMe">Site pensé, conçu et réalisé par
				<a href="https://yeunlefloch.com" target="_blank">Yeun LE FLOCH - Freelance</a>
				pour
				<span class="primary-color">&#169; findagroomer.com</span><br/>
				Tout droits réservés.</div>
		</footer>
		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('websiteRender') }}
		{% endblock %}
	</body>
</html></body></html>
