{% extends "base.html.twig" %}

{% block title %}
	Payer votre commande
{% endblock %}

{% block body %}
	<h1>Payer votre commande avec Stripe :)</h1>
	<form id="payment-form">
		<div id="card-element"><!--Stripe.js injects the Card Element--></div>
		<button id="submit" class="btn btn-success">
			<div class="spinner hidden" id="spinner"></div>
			<span id="button-text">Payer avec Stripe</span>
		</button>
		<p id="card-error" role="alert"></p>
		<p class="result-message hidden"></p>
	</form>

	<script src="https://js.stripe.com/v3/"></script>

	<script>
		const clientSecret = "{{ clientSecret }}"
const stripePublicKey = "{{ stripePublicKey }}"
const redirectionUrlAfterSuccess = "{{ url('purchase_payment_success', {'id': purchase.id}) }}"

const stripe = Stripe(stripePublicKey);

const elements = stripe.elements();
const card = elements.create("card");
// Stripe injects an iframe into the DOM
card.mount("#card-element");
card.on("change", function (event) { // Disable the Pay button if there are no card details in the Element
document.querySelector("button").disabled = event.empty;
document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
});

const form = document.getElementById("payment-form");
form.addEventListener("submit", function (event) {
event.preventDefault();
// Complete payment when the submit button is clicked
stripe.confirmCardPayment(clientSecret, {
payment_method: {
card: card
}
}).then(function (result) {
if (result.error) { // Show error to your customer
console.log(result.error.message);
} else { // The payment succeeded!
window.location.href = redirectionUrlAfterSuccess;
}
});
});
	</script>
{% endblock %}
