{% extends "customers/eshop/base_eshop.html.twig" %}
{% set salon = renderSalonInformation(idSalon,idGroomer) %}

{% block title %}Cart
{% endblock %}

{% block body %}
	<div class="container my-3">
		<h1>Votre panier</h1>

		{% if items | length>0 %}
			<table class="table">
				<thead>
					<tr>
						<th>Produit</th>
						<th>Prix</th>
						<th>Quantité</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>{{item.product.name}}</td>
							<td>{{item.product.price }}</td>
							<td>
								<a href="{{path("cart_add", {idSalon: salon.id, idProduct: item.product.id, idGroomer: salon.userGroomer.id}) }}?returnToCart=true" class="btn btn-sm">
									<i class="fas fa-plus"></i>
								</a>
								{{item.qty}}
								<a href="{{path("cart_decrement", {idSalon: salon.id, idProduct: item.product.id, idGroomer: salon.userGroomer.id}) }}" class="btn btn-sm">
									<i class="fas fa-minus"></i>
								</a>
							</td>
							<td>{{item.total}}</td>
							<td>
								<a href="{{ path('cart_delete',{idSalon: salon.id, idProduct: item.product.id, idGroomer: salon.userGroomer.id}) }}" class="btn btn-sm btn-danger">
									<i class="fas fa-trash"></i>
									Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">Total :</td>
						<td colspan="2">{{total}}</td>
					</tr>
				</tfoot>
			</table>
			<hr>
			{% if app.user %}
				<h2>Confirmer votre commande en remplissant ce formulaire</h2>
				{{ form_start(confirmationForm, {'action':path('purchase_confirm')}) }}
				{{ form_widget(confirmationForm) }}
				<button class="btn btn-success">Je confirme</button>
				{{ form_end(confirmationForm) }}
			{% else %}
				<h2>Vous devez être connecté pour confirmer cette commande
				</h2>
				<a href=" {{ path('app_login') }}" class="btn success">Connexion</a>
				ou
				<a href="#">inscrivez-vous</a>
			{% endif %}

		{% else %}

			<div class="alert alert-warning">Votre Panier est vide</div>
		{% endif %}
	</div>


{% endblock %}
