{% extends "groomers/dashboard.html.twig" %}

{% block title %}
	Add Services
{% endblock %}

{% block section %}
	<div class="col-md-4 mt-5 mx-auto">
		<h2>Service I propose</h2>

		<form action="" method="POST">
			{% for cs in categories_services %}
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="services-{{cs.id}}" value="{{cs.id}}" id="flexCheckDefault" {% for s in services %} {% if cs.id == s.id %} checked {% endif %} {% endfor %}>
					<label class="form-check-label" for="flexCheckDefault">
						{{cs.name}}
					</label>
				</div>
			{% endfor %}
			<button type="submit" class="btn btn-secondary">
				Next Step >>></button>
		</form>

	</div>
{% endblock %}
