{% extends "groomers/dashboard.html.twig" %}

{% block title %}
	Create a grooming salon
{% endblock %}

{% block section %}
	<div class="col-md-4 mt-5 mx-auto">


		{% if formHourly is not defined %}

			{{ form_start(formGrooming) }}
			<div class="mb-3">
				{{ form_label(formGrooming.name) }}
				{{ form_widget(formGrooming.name) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formGrooming.name) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formGrooming.addressLine1) }}
				{{ form_widget(formGrooming.addressLine1) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formGrooming.addressLine1) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formGrooming.addressLine2) }}
				{{ form_widget(formGrooming.addressLine2) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formGrooming.addressLine2) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formGrooming.postalCode) }}
				{{ form_widget(formGrooming.postalCode) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formGrooming.postalCode) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formGrooming.city) }}
				{{ form_widget(formGrooming.city) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formGrooming.city) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formGrooming.country) }}
				{{ form_widget(formGrooming.country) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formGrooming.country) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formGrooming.phoneNumber) }}
				{{ form_widget(formGrooming.phoneNumber) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formGrooming.phoneNumber) }}
					</i>
				</div>
			</div>

			<div class="text-center">
				<button class="btn btn-lg btn-secondary " type="submit">
					Register this
				</button>
			</div>
			{{ form_end(formGrooming) }}
		{% else %}
			{{ form_start(formHourly) }}

			{{ form_end(formHourly) }}

		{% endif %}
	</div>
{% endblock %}
