{% extends "groomers/dashboard.html.twig" %}

{% block title %}
	Manage Your Grooming Salons
{% endblock %}

{% block section %}
	<h1>Manage Your Grooming Salon</h1>

	<table class="table ">
		<thead class="thead-dark">
			<tr>
				<th>Salon</th>
				<th>Lieu</th>
				<th>Product</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody class="text-light">
			{% for salon in salons %}
				<tr>
					<td>
						{{salon.name}}
					</td>
					<td>{{salon.city}}</td>
					<td>
						<a class="btn btn-success" href="{{path('grooming_salon_products', {idSalon: salon.id})}}">Products</a>
					</td>
					<td class="text-dark">
						<a class="btn btn-success" href="{{path('groomers_groomingsalon_edit', {idSalon: salon.id})}}">Edit</a>

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDeleteConfirm">
							Delete
						</button>

						<!-- Modal -->
						<div class="modal fade" id="modalDeleteConfirm" tabindex="-1" aria-labelledby="modalDeleteConfirmLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalDeleteConfirmLabel">Delete
											{{salon.name}}</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Are you sur, you wana delete this grooming salon ?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
										<a href="{{path('groomers_groomingsalon_delete', {idSalon: salon.id})}}" class="btn btn-danger">Delete</a>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>


			{% endfor %}
		</tbody>
	</table>
	<a href="{{path('groomers_groomingsalon_create')}}" class="btn btn-primary">Create One</a>

{% endblock %}
