{% extends "groomers/dashboard.html.twig" %}

{% block title %}
	Add a Product
{% endblock %}

{% block section %}
	<h1>Add a Products</h1>

	{{ form_start(formProduct) }}
	<div class="mb-3">
		{{ form_label(formProduct.name) }}
		{{ form_widget(formProduct.name) }}
		<div class="text-light bg-danger rounded">
			<i>
				{{ form_errors(formProduct.name) }}
			</i>
		</div>
	</div>
	<div class="mb-3">
		{{ form_label(formProduct.price) }}
		{{ form_widget(formProduct.price) }}
		<div class="text-light bg-danger rounded">
			<i>
				{{ form_errors(formProduct.price) }}
			</i>
		</div>
	</div>
	<div class="mb-3">
		{{ form_label(formProduct.urlPicture) }}
		{{ form_widget(formProduct.urlPicture) }}
		<div class="text-light bg-danger rounded">
			<i>
				{{ form_errors(formProduct.urlPicture) }}
			</i>
		</div>
	</div>
	<div class="mb-3">
		{{ form_label(formProduct.categorie) }}
		{{ form_widget(formProduct.categorie) }}
		<div class="text-light bg-danger rounded">
			<i>
				{{ form_errors(formProduct.categorie) }}
			</i>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Send</button>
	{{ form_end(formProduct) }}

{% endblock %}
