{% extends "groomers/dashboard.html.twig" %}

{% block title %}
	Manage Your Products
{% endblock %}

{% block section %}
	<h1>Manage Your Products</h1>

	<table class="table ">
		<thead class="thead-dark">
			<tr>
				<th>Salon</th>
				<th>Lieu</th>
				<th>Actions</th>
			</tr>
		</thead>
		{% if products is defined and products|length > 0 %}
			<tbody class="text-light">
				{% for p in products %}
					<tr>
						<td>
							{{p.name}}
						</td>
						<td>{{p.categorie.name}}</td>
						<td>{{p.price}}</td>
						<td class="text-dark">
							Actions Edit/delete
						</td>
					</tr>


				{% endfor %}
			{% else %}
				<tr class="alert alert-warning">
					<td>
						Vous n'avez pas encore de produit</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endif %}
		</tbody>
	</table>
	<a href="{{path('grooming_salon_create_products', {"idSalon": idSalon})}}" class="btn btn-primary">Create One</a>

{% endblock %}
