{% extends "customers/eshop/base_eshop.html.twig" %}

{% block title %}About
	{{salon.name}}
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row">
				<div class="col-md-4 text-center">
					<img src="/images/websites_img/{{website.profilPicture}}" class="rounded-circle w-75" alt="{% if groomer.sex == "femme" %} Toiletteuse Professionnelle {% else %} Toiletteur Professionnel {% endif %} . {{groomer.firstname}} {{groomer.lastname}}"/>

				</div>
				<div class="col-md-7 mx-auto mt-4 div-presentation">
					<h3>Presentation</h3>

					<p>Je m’appelle
						{{groomer.firstname}}, et je suis
						{% if groomer.sex == 'femme'%}
							la
						{% else %}
							le
						{% endif %}
						responsable du salon
						{{salon.name}}.
					</p>
					<p>
						Nous vous accueillons à l'adresse :
						<a href="https://www.google.com/maps/place/{{mapsResearch}} " target="_blank">
							{{salon.addressLine1}}
							{% if salon.addressLine1 is defined %}
								{{ salon.addressLine2}}
							{% endif %}
							{{salon.postalCode}}
							{{salon.city}}
						</a>et nos horaires sont à retrouver sur le
						<a href="{{path('customers_watch_website', {idSalon: idSalon, idGroomer: idGroomer})}}" target="_blank">site vitrine</a>.
					</p>
					<p>{{website.textPresentation}}</p>

					<h3>Suivez nous sur les réseaux :</h3>
					<ul>
						{% if website.linkFacebook != null %}
							<li>
								<a target="_blank" href="{{website.linkFacebook}}">
									Facebook
								</a>
							</li>
						{% endif %}
						{% if website.linkInstagram != null %}
							<li>
								<a target="_blank" href="{{website.linkInstagram}}">
									Instagram
								</a>
							</li>
						{% endif %}
						{% if website.linkTiktok != null %}
							<li>
								<a target="_blank" href="{{website.linkTiktok}}">
									TikTok
								</a>
							</li>
						{% endif %}
					</ul>
				</div>

			</div>
		</div>
	</section>
{% endblock %}
