<!DOCTYPE html>
<html lang="en">
	<head>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app-eshop') }}
		{% endblock %}

		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<title>
			{% block title %}
				Shop Homepage - Start Bootstrap Template
			{% endblock %}
		</title>
		<!-- Favicon-->
		<link
		rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
		<!-- Bootstrap icons-->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="css/styles.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"/>
	</head>
	<body>
		{% for rubrique, messages in app.flashes %}
			{% for message in messages %}
				<div class="d-none notifications-div" data-type="{{rubrique}}" , data-message="{{message}}"></div>
			{% endfor %}
		{% endfor %}
		<!-- Navigation-->
		{% include "customers/eshop/shared/_navbar.html.twig" %}
		<!-- Header-->
		{% include "customers/eshop/shared/_header.html.twig" %}

		<!-- body-->
		{% block body %}{% endblock %}
		<!-- Footer-->
		{% include "customers/eshop/shared/_footer.html.twig" %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app-eshop') }}
		{% endblock %}
	</body>
</html>
