{% extends "customers/eshop/base_eshop.html.twig" %}
{% block body %}
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				{% for p in salon.products %}
					<div class="col mb-5">
						{% include "customers/eshop/product/_product_card.html.twig" %}
					</div>

				{% endfor %}


			</div>
		</div>
	</section>
{% endblock %}
