{% extends "base.html.twig" %}

{% block title %}
	Dashboard de
	{{app.user.firstname}}
{% endblock %}

{% block body %}
	{% include "shared/_navbar.html.twig" %}

	<div class="container mx-auto mt-md-5">
		{% block section %}
			<div class="row">
				<div class="col-md-12 rounded">
					<h1>
						Hello
						{{app.user.firstname}}
						{{app.user.lastname}},
																																																																																																						Welcome on the best Tools to manage your busness and expend it arround the world !
					</h1>
					<p>
						Here we put some significatives datas from your business
					</p>
				</div>
			</div>


			<div class="row mt-5 text-center">

				<div class="col-md mx-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">
								My Websites
							</h3>
						</div>
						<div class="card-body">
							{% if app.user.groomingSalons|length >0 %}
								<a href="{{path('groomers_dashboard_website_choose', {idGroomer: app.user.id})}}" class="btn btn-secondary">
									Go to my website</a>
							{% else %}
								You don't have any grooming salon, start by create one !
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-md mx-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">
								Manage Your Grooming salons
							</h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<a href="{{path('groomers_groomingsalon_create')}}" class="btn btn-primary">Create One</a>
								</div>
								<div class="col-md-6">
									<a href="{{path('groomers_groomingsalon_show')}}" class="btn btn-secondary">View all</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		{% endblock %}
	</div>
	{% include "shared/_footer.html.twig" %}

{% endblock %}
