@import "custom";
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;

    li {
        list-style: none;

    }
}


body {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to left top, rgba(255, 95, 88, 1), rgba(121, 9, 105, 1), rgba(51, 225, 255, 1));
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    padding-bottom: 220px;
    /* Hauteur du pied de page */

}

.main-footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    /* on le colle en bas */
    width: 100%;
    height: 150px;
}

@media all,
(max-width: 700px) {
    .main-footer {
        height: 200px;
    }
}