$primary: #ff5f58;
$secondary: #33E1FF;


body::-webkit-scrollbar {
    display: none;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url("../images/entreprise.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.presentation-div {
    padding: 20px;
    border-radius: 15px;

    background-color: rgba(255, 95, 88, 0.7);

    h1 {
        font-size: 5em;
        text-shadow: 5px 5px $primary;
    }

    h4 {

        font-size: 2.5em;
        text-shadow: 3px 3px $primary;
    }
}

#map {
    height: 100vh;
    width: 100vw;
}