<h1>Hello
	{{groomerFirstname}}
	{{groomerLastname}}
	!
</h1>
<br>
<h3>
	you got a message from your webpage on FindAGroomer.com</h3>

<h4>Informations:</h4>
<table>
	<tbody>
		<tr>
			<td>Firstname</td>
			<td>{{firstnameCustomers}}</td>
		</tr>
		<tr>
			<td>LastName</td>
			<td>{{lastnameCustomers}}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{emailCustomers}}</td>
		</tr>
		<tr>
			<td>PhoneNumber</td>
			<td>{{phone}}</td>
		</tr>
	</tbody>
</table>
<h4>Message:</h4>

<p>
	{{message}}
</p>
