{% set salon = renderSalonInformation(idSalon,idGroomer) %}

<div
	class="card h-100">
	<!-- Product image-->
	<img
	class="card-img-top" src="{{p.urlPicture}}" alt="{{p.name}}"/>
	<!-- Product details-->
	<div class="card-body p-4">
		<div
			class="text-center">
			<!-- Product name-->
			<h5 class="fw-bolder">{{p.name}}</h5>
			<!-- Product price-->
			{{p.price}}
			€
			<span class="bg-primary badge text-light">{{p.categorie.name}}</span>
			<p>
				{{p.description}}
			</p>
		</div>
	</div>
	<!-- Product actions-->
	<div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
		<div class="text-center col-md-6">
			<a class="btn btn-outline-dark mt-auto" href="{{path('product_details', {idSalon: salon.id, idProduct: p.id, idGroomer: salon.userGroomer.id})}}">Details</a>
		</div>
		<div class="text-center col-md-6">
			<a class="btn btn-outline-dark mt-auto" href="{{path('cart_add',{idSalon: salon.id, idProduct: p.id, idGroomer: salon.userGroomer.id})}}">Add To Cart</a>
		</div>
	</div>
</div>
