{% extends "customers/eshop/base_eshop.html.twig" %}

{% block title %}
	Page de
	{{product.name}}
{% endblock %}


{% block body %}
	<div class="container my-5">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{path('eshop_homepage', {idGroomer: idGroomer, idSalon: idSalon} )}}">Accueil</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{path('category_details', {idGroomer: idGroomer, idSalon: idSalon, idCategory: product.categorie.id})}}">{{product.categorie.name}}</a>
			</li>
			<li class="breadcrumb-item active">{{product.name}}</li>
		</ol>
		<h1>{{product.name}}
			({{product.price}})</h1>

		<div class="row">
			<div class="col-4">
				<img class="img-fluid" src="{{product.urlPicture}}" alt="image de {{product.name}}"/>
			</div>
			<div class="col">
				<span class="badge bg-info">
					{{product.categorie.name}}
				</span>
				<p>{{product.description}}</p>
				<a href="{{path('cart_add',{idSalon: idSalon, idProduct: product.id, idGroomer: idGroomer})}}" class=" btn btn-success btn-lg">
					<i class="fas fa-shopping-cart"></i>
					Ajouter au panier</a>
			</div>
		</div>
	</div>
{% endblock %}
