<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		{% for rubrique, messages in app.flashes %}
			{% for message in messages %}
				<div class="d-none notifications-div" data-type="{{rubrique}}" , data-message="{{message}}"></div>
			{% endfor %}
		{% endfor %}
		{% block body %}{% endblock %}

	</body>
</html>
