<div class="bg-primary text-light py-2 mt-5 main-footer">
	<div class="col-md-12 text-center border-bottom border-secondary py-1">
		<h6>Suivez nous sur nos réseaux
		</h6>
		<p>
			<a href="#" target="_blank">
				<i class="fab fa-instagram fa-2x text-light"></i>
			</a>
			<a href="#" target="_blank">
				<i class="fab fa-facebook fa-2x text-light"></i>
			</a>
			<a href="#" target="_blank">
				<i class="fab fa-twitter fa-2x text-light"></i>
			</a>
			<a href="#" target="_blank">
				<i class="fab fa-youtube fa-2x text-light"></i>
			</a>
			<a href="#" target="_blank">
				<i class="fas fa-envelope fa-2x text-light"></i>
			</a>
		</p>
	</div>
	<div class="col-md-12 border-secondary border-top text-center pt-2 font-weight-light">
		<i>
			Site créé et développé par
			<a target="_blank" class="text-secondary" href="https://www.linkedin.com/in/yeun-le-floch-2327a6167/">
				Yeun LE FLOCH
			</a>
			- Freelance pour &copy;Find a Groomer - Tout droits protégés.
		</i>
	</div>
</footer>
