<nav class="navbar navbar-expand-lg navbar-light bg-secondary p-2">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('groomers_dashboard')}}">My Dashboard</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{path('groomers_groomingsalon_show')}}">Grooming Salon</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('groomers_dashboard_website_choose', {idGroomer: app.user.id})}}">Websites</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Other
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{path('add_showroom_picture', {'idGroomer': app.user.id})}}">ManageShowroom</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('groomers_groomingsalon_show')}}">Manage Product</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="#">Settings</a>
						</li>
					</ul>
				</li>
			</ul>
			<form class="d-flex">
				<a href="{{path('app_logout')}}" class="btn btn-danger">&times; Log Out</a>
			</form>
		</div>
	</div>
</nav>
