{% extends "groomers/dashboard.html.twig" %}

{% block title %}
	Manage Your Pictures
{% endblock %}

{% block section %}
	<h2>
		Manage Your Media</h2>
	<div class="alert alert-info">
		<p>You couldn't add more than 12 pictures ! Choose Right :)
		</p>
	</div>
	<form action="" method="POST" class="text-light" enctype="multipart/form-data">
		{% for i in 0..11 %}
			<div class="mb-3">
				<label for="input-picture{{i}}" class="form-label">Picture n°{{i}}</label>
				{% if pictures[i] is defined%}
					<div class="text-center">
						<a href="{{path('delete_showroom_picture', {idGroomer: app.user.id, idPicture : pictures[i].id }) }}" class="btn btn-danger">&times; Delete</a>
						<br>
						<img src="/images/showroom-pictures/{{pictures[i].urlPicture}}" alt="{{pictures[i].description}}" class="w-25">
					</div>
				{% endif %}
				<input class="form-control" type="file" id="input-picture{{i}}" name="pictures[picture{{i}}]">
				<input class="form-control" type="text" id="description-picture{{i}}" name="descriptions[picture{{i}}]" placeholder="title of picture" {% if pictures[i] is defined%} value="{{pictures[i].description}}" {% endif %}>
			</div>
		{% endfor %}

		<div class="text-center mt-5">
			<button class="btn btn-lg btn-secondary " type="submit">
				add this pictures
			</button>
		</div>
	</div>
</form>{% endblock %}
