{% extends "groomers/dashboard.html.twig" %}

{% block title %}
	Manage Your Websites
{% endblock %}

{% block section %}
	<h1>
		Choose Your Salon Website you wanna manage</h1>
	<div class="row my-3">

		{% for salon in salons %}
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<div class="col">
							{{salon.name}}
						</div>
						<div class="col text-end">
							{% if salon.websiteInformations is empty %}
								No website yet.
							{% else %}
								<a href="{{path('customers_watch_website', {idSalon: salon.id, idGroomer: idGroomer})}}">
									See My Public Website</a>
							{% endif %}
						</div>
					</div>
					<div class="card-body text-center">
						You could change a lot of things in your website for your grooming salon, just click on button above.
						<a href="{{path('groomers_dashboard_website_manage',{idSalon:salon.id,idGroomer:idGroomer})}}" class="btn btn-primary mt-3">
							Edit this one >>>
						</a>

					</div>
					<div class="card-footer">
						<div class="col text-end text-secondary">
							{{salon.city}}
						</div>
						<div class="col">
							{% if salon.websiteInformations is not empty %}
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteConfirm">
									Delete
								</button>

								<!-- Modal -->
								<div class="modal fade" id="modalDeleteConfirm" tabindex="-1" aria-labelledby="modalDeleteConfirmLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="modalDeleteConfirmLabel">Delete
													{{salon.name}}</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Are you sur, you wana delete this website (this doesn't delete your grooming salon) ?
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
												<a href="{{path('groomers_dashboard_website_delete',{idSalon:salon.id,idGroomer:idGroomer})}}" class="btn btn-danger">Delete</a>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

		{% endfor %}

	</div>

	<h2 class="text-center mt-5">
		Add somes Pictures to show your talent</h2>
	<div class="row mb-3">
		{% if noWebsite %}
			<div class="alert alert-info">
				You didn't have website yet, come back when you create one !
			</div>
		{% else %}
			<div class="col-md-12 text-center">
				<a href="{{path('add_showroom_picture',{idGroomer:idGroomer})}}" class="btn btn-lg btn-secondary">Yes ! I wan't to show my work</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
