{% extends "groomers/dashboard.html.twig" %}

{% block title %}
	Manage Your Websites
{% endblock %}

{% block section %}
	<div class="col-md-4 mt-5 mx-auto">

		{% if formWebsite is defined %}
			{{ form_start(formWebsite) }}
			<div class="mb-3">
				{{ form_label(formWebsite.textPresentation) }}
				{{ form_widget(formWebsite.textPresentation) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formWebsite.textPresentation) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formWebsite.emailContact) }}
				{{ form_widget(formWebsite.emailContact) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formWebsite.emailContact) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formWebsite.linkFacebook) }}
				{{ form_widget(formWebsite.linkFacebook) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formWebsite.linkFacebook) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formWebsite.linkInstagram) }}
				{{ form_widget(formWebsite.linkInstagram) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formWebsite.linkInstagram) }}
					</i>
				</div>
			</div>

			<div class="mb-3">
				{{ form_label(formWebsite.linkTiktok) }}
				{{ form_widget(formWebsite.linkTiktok) }}
				<div class="text-light bg-danger rounded">
					<i>
						{{ form_errors(formWebsite.linkTiktok) }}
					</i>
				</div>
			</div>

			<div class="text-center">
				<button class="btn btn-lg btn-secondary " type="submit">
					Next Step >>>
				</button>
			</div>
			{{ form_end(formWebsite) }}
		{% elseif colorsToChoose is defined %}
			<form action="" method="POST" class="text-light">
				<div class="mb-3">
					<label for="mainBg">
						Main Background Color</label>
					<select name="colors-mainBg" class="form-select" id="mainBg">
						{% for c in colorsToChoose %}
							<option style="background-color:{{c}};" {% if c == colorsWebsite.mainBg %} selected {% endif %}>{{c}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="secondBg">
						Second Background Color</label>
					<select name="colors-secondBg" class="form-select" id="secondBg">
						{% for c in colorsToChoose %}
							<option style="background-color:{{c}};" {% if c == colorsWebsite.secondBg %} selected {% endif %}>{{c}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="mainText">
						Main Text Color</label>
					<select name="colors-mainText" class="form-select" id="mainText">
						{% for c in colorsToChoose %}
							<option style="background-color:{{c}};" {% if c == colorsWebsite.mainText %} selected {% endif %}>{{c}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="primary">
						Primary Color</label>
					<select name="colors-primary" class="form-select" id="primary">
						{% for c in colorsToChoose %}
							<option style="background-color:{{c}};" {% if c == colorsWebsite.primary %} selected {% endif %}>{{c}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="secondary">
						Secondary Color :</label>
					<select name="colors-secondary" class="form-select" id="secondary">
						{% for c in colorsToChoose %}
							<option style="background-color:{{c}};" {% if c == colorsWebsite.secondary %} selected {% endif %}>{{c}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="text-center">
					<button class="btn btn-lg btn-secondary " type="submit">
						Next Step >>>
					</button>
				</div>
			</form>
		{% else %}
			<h2>
				Manage Your Media</h2>
			<form action="" method="POST" class="text-light" enctype="multipart/form-data">

				<div class="mb-3">
					<label for="formFile-logo" class="form-label">Your Logo</label>
					{% if website.logo is defined %}
						<div class="text-center">
							<img src="/images/websites_img/{{website.logo}}" alt="" class="w-50">
						</div>
					{% endif %}
					<input class="form-control" type="file" id="formFile-logo" name="logo">

					<label for="formFile-profilPicture" class="form-label">Your Profil Picture</label>
					{% if website.logo is defined %}
						<div class="text-center">
							<img src="/images/websites_img/{{website.profilPicture}}" alt="" class="w-50">
						</div>
					{% endif %}
					<input class="form-control" type="file" id="formFile-profilPicture" name="profilPicture">
					<div class="text-center mt-5">
						<button class="btn btn-lg btn-secondary " type="submit">
							Next Step >>>
						</button>
					</div>
				</div>
			</form>
		{% endif %}

	</div>
{% endblock %}
